.header {
  display: flex;
  background-color: antiquewhite;
  height: 12vh;
  margin-bottom: 3vh;
  position: sticky;
  width: 100%;
  top: 0;
}
.header-name {
  margin: 1rem;
  font-size: 2rem;
}
.menu-items {
  margin: 1rem;
}
